body {
    background-color: #776e80; 
    color: #030a0f; 
    padding: 20px;
}

header {
    text-align: center;
    color:#d3b2f5 ;
    background-color: #d3b2f5;
}

.bg-primary {
    background-color: #d9cedb !important;
}

section {
    background: rgb(208, 189, 226); 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
    padding: 20px; 
}

a {
    color: #8453b1; 
}

a:hover {
    text-decoration: underline; 
}
